header {
  li > a {
    display: flex;
    position: relative;
    line-height: inherit;
  }

  /* ------------------------------- Header Top ------------------------------- */
  .header-top {
    .wrapper {
      font-size: $font-small;
      font-weight: $fw3;
      justify-content: space-between;
      line-height: 42px;

      ul {
        gap: 2em;
      }
    }

    li {
      position: relative;
    }
  }
}

/* ------------------------------- Header Nav ------------------------------- */

/* -------------------- Header Main, Departments Category ------------------- */

/* ------------------------------- Search Form ------------------------------ */

/* ----------------------------- Responsive Menu ---------------------------- */
