/* ------------------------------- Transition ------------------------------- */
$trans-background-color: background-color 3s, color 0.3s;
$trans-background: background-color 0.3s;
$trans-color: color 0.3s;

/* ------------------------------- Percentages ------------------------------ */
$percent50: 50%;
$percent100: 100%;
