$primary-color: #ff6b6b;
$secondary-color: #794afa;

$white-color: #ffffff;
$light-bg-color: #f2f3f5;
$light-text-color: #7c988a;
$border-color: #e5e8ec;

/* -------------------------------------------------------------------------- */
/*                              Dark theme colors                             */
/* -------------------------------------------------------------------------- */
$secondary-dark-color: #453c5c;
$dark-color: #0a021c;
